#bg-top{
    background-color: #F0FFF0;
}
.container{
    margin-bottom: 100px;
}
.top-space-one{
    margin-bottom: 100px;
}
.top-space-two{
    margin-bottom: 100px;
    padding-bottom: 100px;
}
.logo{
position: absolute;
width: 198.07px;
height: 59px;
top: 10px;
    }

#nav-link{
    color: black;
    font-size: 16px;
    padding-right: 25px;
}
#nav-link-signin{
    color: white;
    width: 104px;
    height: 43px;
    font-size: 16px;
    background: #21B573;
    border-radius: 33px;
    padding-left: 27px;
    padding-top: 9px;
}
.illustration{
    padding-left: 70px;
    padding-right: 30px;
}
.illustration img{
    width: 100%;
}
.illustration-writeup h3{
    font-size: 16px;
    line-height: 24px;
    color: #FD511A;
}
.illustration-writeup h1{
    font-weight: bold;
    font-size: 48px;
}
span{
    color: #21B573;
}
.illustration-writeup-paragraph{
    font-size: 16px;
    color: #6C6B6B;
    padding-top: 20px;
    padding-bottom: 20px;
}
.get-started-button{
    background: #21B573;
    border: none;
    border-radius: 33px;
    color: white;
    width: 153px;
    height: 43px;
    cursor: pointer;
}
.card{
    width: 370px;
    height: 483px;
    box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
.icon{
    width: 260px;
    height: 270px;
    background: #F8FFFB;
    border-radius: 10px;
}
.icon:hover{
    background-color: white;
    box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.heading{
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #413960;
    margin-bottom: 50px;
    text-align: center;

}
.testimonial{
    font-size: 16px;
    line-height: 30px;
    padding-top: 10px;
}
.copyright{
    text-align: center;
}
footer{
    font-size: 16px;
    line-height: 30px;
    color:white;
    margin-top: 100px;
    text-align: center;
}
.card-img-top{
    width: 320px;
    height: 234px;
    margin-left:14px;
    margin-top: 14px;
    border-radius: 11px;
}
.buy-course-button{
    width: 137px;
    height: 35px;
    color: white;
    border: none;
    background: #21B573;
    border-radius: 33px;
}
#link-signup{
    color: white;
    width: 125px;
    height: 43px;
    font-size: 16px;
    background: #21B573;
    border-radius: 33px;
    padding-left: 8px;
    border: none;
    margin-left: 45%;

}
.paragraph-bottom{
    color: white;
}
.heading-bottom a{
    font-weight: bold;
    color: white; 
}
.p-bottom a{
    color: white;
}
#bg-color-bottom{
    padding-top: 40px;
    background-color: #282531;
    
}